asttokens==3.0.0
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
cattrs==24.1.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
contourpy==1.3.1
#1.3.1↑
cryptography==44.0.2
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
docopt==0.6.2
eigen==0.1.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.17.0
filterpy==1.4.5
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.3.0
future==1.0.0
getmac==0.9.5
#graphsurgeon #@ file:///D:/TensorRT/TensorRT-8.6.1.6/graphsurgeon/graphsurgeon-0.4.6-py2.py3-none-any.whl#sha256=0fbadaefbbe6e9920b9f814ae961c4a279be602812edf3ed7fb9cc6f8f4809fe
humanfriendly==10.0
idna==3.10
ipython==8.12.3
iso8601==2.1.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
#1.4.8↑
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.1
#3.10.1↑
matplotlib-inline==0.1.7
mistune==3.1.3
mpmath==1.3.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.4.2
#3.4.2↑
norfair==2.2.0
numpy==1.26.4
nvidia-cuda-runtime-cu12==12.8.90
onnx==1.17.0
onnx-graphsurgeon #@ file:///D:/TensorRT/TensorRT-8.6.1.6/onnx_graphsurgeon/onnx_graphsurgeon-0.3.12-py2.py3-none-any.whl#sha256=1ded3e1c4d6d9870f1974c89e1f8aa0ef72c3489bbd9762ac9a5b1b64eb15678
onnxruntime==1.21.0
#1.21.0↑
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pillow==11.1.0
pipreqs==0.5.0
platformdirs==4.3.6
prompt_toolkit==3.0.51
protobuf==6.30.0
pure_eval==0.2.3
py-machineid==0.7.0
pycparser==2.22
pycuda==2025.1    #111
Pygments==2.19.1
pyparsing==3.2.1
pyreadline3==3.5.4
pyserial==3.5
python-dateutil==2.9.0.post0
python-package-info==0.0.15
pytools==2025.1.1
#2025.1.1↑
PyWavelets==1.8.0
#1.8.0
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
requests-cache==1.2.1
rich==12.6.0
rich-argparse==1.7.0
rpds-py==0.24.0
scipy==1.15.2
#1.15.2
shapely==2.1.0
#2.1.0
six==1.17.0
soupsieve==2.7
stack-data==0.6.3
stonefish-license-manager==0.5.31
#0.5.29
sympy==1.13.3
tensorrt #@ file:///D:/TensorRT/TensorRT-8.6.1.6/python/tensorrt-8.6.1-cp311-none-win_amd64.whl#sha256=1b833d9959f4cd9b4a2f703b4f8f4474eedcaee7ce5bbab6036760f6d93e2680
tensorrt_cu12==10.9.0.34
tensorrt_cu12_bindings==10.9.0.34
tensorrt_cu12_libs==10.9.0.34     #111
tinycss2==1.4.0
#torch==2.1.1+cu121
#+cu121
#torchaudio==2.1.1+cu121
#+cu121
3torchvision==0.16.1+cu121
#+cu121

tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
#uff #@ file:///D:/TensorRT/TensorRT-8.6.1.6/uff/uff-0.6.9-py2.py3-none-any.whl#sha256=618a3f812d491f0d3c4f2e38b99e03217ca37b206db14cee079f2bf681eb4fe3
url-normalize==1.4.3
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
winregistry==2.1.0
x21==0.5.3
x22==0.2.1
yarg==0.1.9

#python=3.9.21
#python=3.11.13
